<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
<p>
      I'm currently studying Computer Engineering at
      <a class="underline-link" href="https://www.gvsu.edu" target="_blank">Grand Valley State University</a> and doing software research at
      <a class="underline-link" href="https://www.gvsu.edu/wri/" target="_blank">AWRI</a> after completing three co-op rotations of software development at
      <a class="underline-link" href="https://viastore.com" target="_blank">Viastore</a>.
    </p>

     <p>
      As a computer/environmental engineer, I enjoy working on solutions to environmental problems &mdash; combining my technical experience
      with my practical knowkledge for projects focused on environmental betterment.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm usually cooking or going outside, enjoying the #neature.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
