<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project WaterThose">
      <figure class="project__pic">
        <a href="https://waterthose.com" target="_blank">
          <img src="{{site.baseurl}}/img/featured/blistabloc/blistabloc.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://waterthose.com" target="_blank">WaterThose</a>
        </div>
        <p>Custom wordpress theme built with Timber and Woocommerce for blistabloc, the only reactive shoe insert that prevents
          blisters from forming.</p>
      </figcaption>
    </div>

    <div class="project bees">
      <figure class="project__pic">
        <a href="https://happybeeoutfitters.com" target="_blank">
          <img src="{{site.baseurl}}/img/featured/interventions/interventions.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://happybeeoutfitters.com" target="_blank">Happy Bee Outfitters</a>
        </div>
        <p>Saving the bees and raising awareness for environmental pollution.</p>
      </figcaption>
    </div>
  </div>
</section>
