<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project WaterThose">
      <figure class="project__pic">
        <a href="https://waterthose.com" target="_blank">
          <img src="{{site.baseurl}}/img/featured/waterthose/waterthose.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://waterthose.com" target="_blank">WaterThose</a>
        </div>
        <p>The purpose of this company is simple: Our mission that we chose to accept is to support efforts to clean our planet and find new ways that lead to more greener and sustainable inhabiting.</p>
      </figcaption>
    </div>

    <div class="project bees">
      <figure class="project__pic">
        <a href="https://happybeeoutfitters.com" target="_blank">
          <img src="{{site.baseurl}}/img/featured/happybeeoutfitters/bees.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://happybeeoutfitters.com" target="_blank">Happy Bee Outfitters</a>
        </div>
        <p>Happy Bee Outfitters is much more than a company that just sells (super) awesome products. It is an organization that is tackling the tremendous issue tremendous issue of bee population decline. Help save the bees, help save the environment.</p>
      </figcaption>
    </div>
  </div>
</section>
